.list {
  display: grid;
  width: 85vw;
  margin: 0 auto;
  grid-template-columns: repeat(1, 1fr);
}

.list-title {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  margin: 5px 25px;
}
